# If using HuggingFaceHub
HUGGINGFACEHUB_API_TOKEN="your_huggingfacehub_api_token_here"

# Azure OpenAI configuration
AZURE_OPENAI_API_KEY="your-api-key"
AZURE_OPENAI_ENDPOINT="https://<your-endpoint>.openai.azure.com/"
AZURE_OPENAI_API_VERSION="2024-02-01"

# OpenAI configuration
OPENAI_API_KEY="your-openai-api-key-here"